
@media (max-width:1280px){
	.logo img{width:50%;margin-left:5em;}
	.carousel-caption h1{font-size:24px;}
	.carousel-caption p{font-size:14px;}
	.callout-front{padding:2em 0em;margin-top:-9em;}
	.shrink .logo img{width:45%;margin-left:6.5em;}
	p,a,td,li{font-size:14px;}
	h1,.page__title{font-size:28px;}
	h3 > a{font-size:24px;}
	.master-header  ul.sf-menu li>a {font-size:14px;}
	.testimonials h2 {padding:0px;}
	h2{font-size:26px}
}
@media (max-width:1024px){
	.logo img{width:50%;margin-left:5em;}
	.master-header  ul.sf-menu li>a {font-size:14px;}
	.carousel-caption h1{font-size:19px;}
	.carousel-caption p{font-size:12px;}
	.btn-group-lg>.btn, .btn-lg{font-size:14px;}
	.block-title{font-size:22px;}
	p,a,td,li{font-size:13px;}
	.prefooter ul.sf-menu li>a{font-size:14px;}
	.page-title-section{padding:3em 0em;}
	.main-container{margin-top:3em;margin-bottom:4em;}
}
@media (max-width:991px){
	.master-header  ul.sf-menu li>a {font-size:12px;padding: 10px 6px;}
	.carousel-caption{padding:0px 5em 1rem;}
	.btn-group-lg>.btn, .btn-lg{font-size:12px;}
	.prefooter .block-title{font-size:14px;}
	.logo img{margin-left:4em}
	.shrink .logo img{margin-left:4em;}
	.btn-md, .btn-primary{font-size:12px;}
}
@media (max-width:960px){
	#superfish-left-menu, #superfish-right-menu{display:none;}
	#block-responsivemenumobileicon .label{display:none;}
	.region-right-menu{text-align:right;}
	.shrink .logo img{margin-left:1.5em}
}
@media (max-width:768px){
	.master-header{background-image: url("/themes/watkins/images/brushed_alu.png");}
	.responsive-menu-toggle-icon{background-image:url("/themes/watkins/images/gun_metal.png")}
	.col-xs-0{display:none;}
	.logo img{width:250px;margin-left:0em;}
	.shrink{opacity:1;}
	.shrink .logo img{width:150px;margin-left:0em;}
	.prefooter{text-align:center;font-size:14px;}
	.prefooter p, .prefooter a, .prefooter li{font-size:14px;}
	.prefooter .block-title{text-align:center;width:60%;padding-right:0px;font-size:24px;margin-bottom:10px;padding-bottom:1em;margin-top:2em;}
	.equipment-text img{margin-top:1em;}
	.prefooter{padding:0px 0px 3em;}
	.slider{position:relative;}
	.slider p{display:none;}
	.slider btn{display:none;}
	.homepage{margin-top:25%;}
	.carousel-caption{padding:0 0em .5rem;}
}
@media (max-width:350px){
	.logo img{margin-left:-3em;}
}